img {
  width: 100%;
  height: auto;
}

p:last-child {
  display: inline-block;
}

div#card-text {
  padding: 1rem;
}

.date, .time {
  position: absolute;
  bottom: 10px;
  right: 1rem;
}

.category {
  position: absolute;
  bottom: 10px;
  left: 1rem;
  font-weight: bold;
}

.space {
  padding: 0.2rem;
}

button {

  border: none;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.delete {
  background-color: rgb(138, 26, 26);
  color: white;
  position: absolute;
  right: 0.2rem;
}