<a [routerLink]="['/articles', article._id]"> <div>
    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
        <div *ngIf="!loading && !!user">
        </div>
    </div>
  <div *ngIf="currentUser?.username === autor">
  <button (click)="onArticleDelete()" class="delete">Delete</button>
 </div>
  <div><img [src]="article.image"/>
 </div>
  <div id="card-text">
    <h2>{{article.title}}</h2>
    <p>{{content}}<span> Written by {{article.autor}}</span></p>
    <p class="category">{{article.category | uppercase }}<p>
    <div class="space"><p class="date">{{ convertedDate | date:'medium' }}<p></div> 
 </div>
</div></a>

