<a [routerLink]="['/articles', article._id]"><div>
    <div [ngClass]="{'is-user': user, 'is-anon': anon}">
        <div *ngIf="!loading && !!user">
      <p>{{username}}</p>
      </div>

      </div>
  <div>
  <button (click)="onArticleDelete()" class="delete">Delete</button>
 </div>
  <div><img [src]="article.image"/>
 </div>
  <div id="card-text">
    <h2>{{article.title}}</h2>
    <p>{{content}}</p>
    <p class="category">{{article.category | uppercase }}<p>
    <div class="space"><p class="date">{{ convertedDate }} {{ time }}<p></div> 
</div>
</div></a>

