<header id="site-header">
  <div class="container">
  <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="username text">Loading articles...</span>
      </div>
      <a [routerLink]="['/']"><img src="assets/images/Logo.png" alt="Logo" class="logo"></a>
      <div class="navigation">
        <div>
        </div>
        <div>
          <a *ngIf="!loading && !!user" [routerLink]="['/profile']">Hello {{user.username}}</a>
          <a *ngIf="!loading && !!user" [routerLink]="['/new']">Create new article?</a>
          <a *ngIf="!loading && !!user" (click)="logout()">Logout</a>
          <div *ngIf="!loading && anon">
            <a [routerLink]="['/login']">Login</a>
            <a [routerLink]="['/signup']">Signup</a>
          </div>
        </div>
      </div>
    </div>
 </div>
</header>

<div id="site-main" class="container">
  <router-outlet></router-outlet>
</div>

<footer id="site-footer">
  <div class="container">
    Footer
  </div>
</footer>
