.login-signup  {
  float: right;
}

.logo {
 float: left;
}

.float-right {
  float: right;
}

.hello-user {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  padding-right: 15px;
}