<header id="site-header">
  <div class="container">
  <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="username text">Loading articles...</span>
      </div>
      <a [routerLink]="['/']" class="Logo">Home</a>
   
      <a *ngIf="!loading && !!user" (click)="logout()" class="float-right">Logout</a>
      <a *ngIf="!loading && !!user" [routerLink]="['/new']" class="float-right">Create new article?</a>
      <p *ngIf="!loading && !!user" [routerLink]="['/profile']" class="float-right hello-user">Hello {{user.username}}</p>
      
      <div *ngIf="!loading && anon" class="float-right">
        <a [routerLink]="['/login']">Login</a>
        <a [routerLink]="['/signup']">Signup</a>
      </div>
    </div>
 </div>
</header>

<div id="site-main" class="container">
  <router-outlet></router-outlet>
</div>

<footer id="site-footer">
  <div class="container">
    Footer
  </div>
</footer>
