<header id="site-header">
  <div class="container">
  <div [ngClass]="{'is-user': user, 'is-anon': anon}">
      <div *ngIf="loading">
        <span class="username text">Loading articles...</span>
        <div class="sk-fading-circle">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
          </div>
      </div>
      <a [routerLink]="['/']"><img src="/assets/images/Logo.png" alt="Logo" class="logo"></a>
      <div class="navigation">
        <div>
        </div>
        <div>
          <a *ngIf="!loading && !!user" [routerLink]="['/articles/profile']">Hello {{user.username}}</a>
          <a *ngIf="!loading && !!user" [routerLink]="['/new']">Create new article?</a>
          <a *ngIf="!loading && !!user" (click)="logout()">Logout</a>
          <div *ngIf="!loading && anon">
            <a [routerLink]="['/login']">Login</a>
            <a [routerLink]="['/signup']">Signup</a>
          </div>
        </div>
      </div>
    </div>
 </div>
</header>

<div id="site-main" class="container">
  <router-outlet></router-outlet>
</div>

<footer id="site-footer">
  <div class="container">
     <p class="footer-line">Made with <img src="/assets/images/heart.png" alt="heart" class="heart"> in Ironhack Barcelona</p> 
  </div>
</footer>
