
/* ---- reset ---- */

html {
  box-sizing: border-box;
  background-color: rgb(235, 235, 235);
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 0;
}

/* ---- typography and links ---- */
a {
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

a:link, a:visited {
  color: rgb(71, 71, 71);
}

#site-header a {
  display: inline-block;
  color: white;
  text-transform: uppercase;

}

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
  font-family: 'Roboto', sans-serif;
}

h1 {}

h2 {}

h3 {}

span {
  color: rgb(45, 44, 139)
}

p {
  margin: 0;
}

/* ---- layout ---- */
.container {
  margin: 0 20px;
  max-width: 85%;
  margin: 0 auto;

}
/*  
@media (min-width: 1024px) {
  .container {
    max-width: 85%;
    margin: 0 auto;
  }
} */





@media (max-width: 1300px) {
 .date {
   display: none;
 }
}

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-header {
  padding: 10px 0;
  background:url(
  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQYV2NkQAX/GZH4/xkYGBhhAmAOSBJEwDkgAQCCrgQEjpMcPgAAAABJRU5ErkJggg==
   ) repeat;
}

#site-footer {
  padding: 10px 0;
  background:url(
  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQYV2NkQAX/GZH4/xkYGBhhAmAOSBJEwDkgAQCCrgQEjpMcPgAAAABJRU5ErkJggg==
   ) repeat;
   overflow: hidden;
}

#site-main {
  margin-bottom: 60px;
}


.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

img {
  width: 100%;
}


/* ---- components ---- */

 /* --- forms ---  */ 

 .form-container {
  width: 50%;
  height: 80vh;
  padding-top: 20px;
  padding: 2rem;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: white;

}

@media (min-device-width: 0px) and (max-device-width: 550px) {
  .form-container {
    width: 100%;
    min-height: 110vh;
  }
  input {
    border: 1px solid darkgrey;
  }

}

input, textarea {
  width: 100%;
}

.content input {
  line-height: 5rem;
  padding-top:0;
}

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  padding: 5px;
  font-size: 16px;
}

form textarea {
  padding: 5px;
  font-size: 16px;
  border-color: lightgrey;
}

form .submit {
  padding-top: 20px;
}

form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  background-color: black;
  cursor: pointer;
}

form .field.has-error label {
	color: red;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input {
	border: 1px solid  red;
}





