
/* ---- reset ---- */

html {
  box-sizing: border-box;
  background-color: rgb(235, 235, 235);
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 0;
}



a {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  
}

a:link, a:visited {
  color: rgb(24, 24, 24);
}

#site-header a {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  padding-right: 15px;
}
/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
  font-family: 'Roboto', sans-serif;
}

h1 {}

h2 {}

h3 {}

span {
  color: rgb(45, 44, 139)
}

p {
  margin: 0;
}

/* ---- layout ---- */
.container {
  margin: 0 20px;
}
 
@media (min-width: 1024px) {
  .container {
    max-width: 85%;
    margin: 0 auto;
  }
}

@media (max-width: 920px) {
 .date {
   display: none;
 }
}

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}


.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

img {
  width: 100%;
}


/* ---- components ---- */

 /* --- forms ---  */ 

 .form-container {
  width: 50%;
  height: 80vh;
  padding-top: 20px;
  margin: 0 auto;
}

input, textarea {
  width: 100%;
}

.content input {
  line-height: 5rem;
  padding-top:0;
}

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  padding: 5px;
  font-size: 16px;

}

form textarea {
  padding: 5px;
  font-size: 16px;
  border-color: lightgrey;

}

form .submit {
  padding-top: 20px;
}

form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: cyan;
  cursor: pointer;
}

form .field.has-error label {
	color: red;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input {
	border: 1px solid  red;
}



